@import url("https://fonts.googleapis.com/css?family=Abel|PT+Serif:400,400i,700,700i&display=swap");

@import 'variables.scss';

html {
  // font-size: 62.5%;
  // @media (min-width: 1040px){
  //   font-size: 100%;
  // }

}

body{
  background:$color-background;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color:white;
  //font-size: 62.5%;
  margin:0;
  border:0px solid black;
  transition: border 0.2s;

}
.content{
  width:100%;
  height:100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 60% 40%;
}

ul li, a{
  color:white;
}

.overlay{
  z-index:10000;
  width:100%;
  height:100%;
  background-color: $color-background;
  position:absolute;
  top:0;
  left:0;
  opacity: 0;
  visibility: hidden;

  // animation-name: fadeOverlay;
  // animation-duration: 2s;
  // animation-timing-function: linear;
  // animation-delay: 1s;
  // animation-fill-mode: forwards;


  animation-name: slideGrid;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.svg-hide{
  display:none;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

div {
    display: block;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
a {
    text-decoration: none;
}
.mini{
  font-size: 20px;
}
.title-bloc{
  @extend .title-3;
  padding-bottom: $pad-small;
  color: $color-disable;
  transition: opacity 2s, color 2s;
  display: block;
}

.content-bloc{
  @extend .text-mega-huge;
  color:$color-disable;
  span{opacity:0.5;transition: opacity 2s, color 2s;}
}


.content-bloc-hover{
  transition: opacity 2s, color 2s;
  // span{opacity:1;transition: opacity 2s, color 2s;}

  &:nth-child(4n+1){
    color: $color-1;
  }
  &:nth-child(4n+2){
    color: $color-2;
  }
  &:nth-child(4n+3){
    color: $color-3;
  }
  &:nth-child(4n+4){
    color: $color-4;
  }

}



.header{
    padding:$pad-huge $pad-huge 0;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    height:100%;
    @extend .fade-in-bloc;

    .header__logo{
      width:100%;
      text-align: left;

      &__title{     @extend .title-mega-huge;  color:white; }
      &__subtitle{  @extend .subtitle-mega-huge;     color:$color-3; }
      &__desc{  @extend .text;     color:white; padding-top: 1em;}

    }
    .header__logo__subtitle{
      animation:   anim-sub-color 60s ease-out infinite;
    }
    .intro{

        padding-top:$pad-large;

        @extend .fade-in-bloc;
        animation-delay: 1s;
        .content-bloc{
          transition: opacity 2s, color 2s;
        }
        &:hover{
          .content-bloc{
            color: $color-primary;
            transition: opacity 2s, color 2s;
          }
        }

      }

  }



/*
---------------------------- CLIENT
*/


// .intro{
//
//     height:100%;
//     -webkit-font-smoothing: antialiased;
//     padding:$pad-large $pad-huge;
//
//     grid-column: 1 / span 1;
//     grid-row: 2 / span 1;
//
//     align-self: center;
//
//     @extend .fade-in-bloc;
//     animation-delay: 1s;
//
//
//
//     &:hover{
//       .title-bloc{
//         color: $color-primary;
//         transition: opacity 2s, color 2s;
//       }
//     }
//
//   }




/*
---------------------------- CLIENT
*/


.clients{
  padding:$pad-huge $pad-huge;
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
  height:100%;
  opacity: 0;

  @extend .fade-in-bloc;
  animation-delay: 4s;

  // border-top:$border-style;
  .title-bloc{
    color: white;
    transition: opacity 2s, color 2s;
  }
  .content-bloc {
    span{
      &:not(:last-child):after{
        content:" · ";
        color: $color-disable;
      }
    }
  }

  &:hover{
    .title-bloc{
      color: $color-semi-disable;
      transition: opacity 2s, color 2s;
    }
    .content-bloc span{
      @extend .content-bloc-hover;
    }
  }
}


// Loop from 1-9.
@for $i from 1 through 16 {
  .clients .content-bloc span{
    opacity: 0;
    @extend .fade-in-bloc;

    &:nth-child(#{$i}) {
      animation-delay: 4s + $i * (4s / 18);
    }
  }
  .awards .content-bloc span{
    opacity: 0;
    @extend .fade-in-bloc;

    &:nth-child(#{$i}) {
      animation-delay: 8s + $i * (2s / 18);
    }
  }
}



/*
---------------------------- AWARDS
*/

.awards{

  color: $color-primary;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding: $pad-huge;
  margin:0;
  height:100%;

  @extend .fade-in-bloc;
  animation-delay:8s;

  .content-bloc > span{
    display: block;
  }
  .title-bloc{
    color: white;
    transition: opacity 2s, color 2s;
  }
  &:hover{
    .title-bloc{
      color: $color-semi-disable;
      transition: opacity 2s, color 2s;
    }
    .content-bloc span{
      @extend .content-bloc-hover;
    }
  }
}


/*
---------------------------- CONTACT
*/

.contact{
  padding:$pad-huge;

  grid-column: 2 / span 1;
  grid-row: 2 / span 1;

  @extend .fade-in-bloc;
  animation-delay: 10s;

  // border-left:$border-style;
  // border-top:$border-style;
  .title-bloc{
      color:white;
      transition: opacity 2s, color 2s;
  }
  .content-bloc{
    transition: opacity 2s, color 2s;
    color: $color-disable;
    a{
      color: $color-disable;
      transition: opacity 2s, color 2s;
    }
  }
  &:hover{
    .title-bloc{
        color:$color-semi-disable;
        transition: opacity 2s, color 2s;
    }
    .content-bloc{
      color:white;
      transition: color 2s;
    }
    a {
      transition: color 2s;

      &:nth-child(1) {
        color: $color-4;
      }
      &:nth-child(2){
        color: $color-3;
      }
      &:hover{
        // color: $color-2;
        text-decoration:underline;
        transition: color 0.5s;
      }
    }
  }
}

/*
---------------------------- DARK / LIGHT MODE
*/


//
// @media (prefers-color-scheme: light) {
//   body{
//     background:$color-background-light;
//   }
//   .header{
//     color: $color-primary;
//     .header__logo{
//       &__title{ color:#367BA1; }
//       &__desc{ color:$color-primary-light;}
//     }
//   }
//   .contact{
//     border-top: $border-style-light;
//     border-left: $border-style-light;
//     .contact__content{
//       color: $color-disable-light;
//       a{
//         color: $color-disable-light;
//       }
//     }
//     &:hover{
//       .contact__title{
//           color:black;
//       }
//       p{
//         color:black;
//       }
//     }
//   }
//   .clients{
//     border-top: $border-style-light;
//     .clients__content {
//       ul li{
//         &:not(:last-child):after{
//           color: black;
//         }
//           color: black;
//       }
//     }
//   }
//   .awards{
//     border-left: $border-style-light;
//     .awards__content{
//       color:black;
//
//       tr{
//         color:black;
//         td{opacity:0.5;transition: all 2s;}
//       }
//     }
//     &:hover{
//       .awards__title{
//         color: black;
//       }
//       td{opacity:1;transition: all 2s;}
//     }
//   }
// }

* {
cursor: none;
}

@keyframes scroll {
  0% { transform: translateY(0); opacity: 0; }
  30% { transform: translateY(7px); opacity: 1; }
  100% { transform: translateY(20px); opacity: 0;}
}



#elt_1, #elt_2, #elt_4 {
  opacity: 0.5;
  transform-origin:center center;
  transform:scaleX(0.8);
  height:2px;
  //fill:yellow;
}
#elt_3 {
  opacity: 1;
  transform-origin:center center;
  transform:scaleX(1);
  //fill:red;
}
#elt_4 {
  opacity: 0;
}



/*************************************************************
                                                  MEDIA QUERIES
*************************************************************/

@media (max-width:1100px){

  .content{
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
  }
  .border_right{
    display: none;
  }
  .header{
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;

    padding: 20vw 10vw;

    .header__logo__title{
      font-size: 4.5rem;
    }
    border-bottom:$border-style;
  }
  .contact,
  .awards,
  .clients{
    padding: 20vw 10vw;

    height: auto;

  }
  .awards{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-left: none;
    border-left:$border-style;

  }
  .clients{

    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .awards__content,
  .clients__content{
    -webkit-mask-image:none;
  }
  .awards {
    .awards__title{
      color: white;
    }
    .awards__content tr{
      td{opacity:1;}
      &:nth-child(4n+1) td:not(.award__date){
        color: $color-1;
      }
      &:nth-child(4n+2) td:not(.award__date){
        color: $color-2;
      }
      &:nth-child(4n+3) td:not(.award__date){
        color: $color-3;
      }
      &:nth-child(4n+4) td:not(.award__date){
        color: $color-4;
      }
    }
  }

  .clients{
    .clients__title{
      color: white;
    }
    .clients__content ul li{
      opacity:1;
      &:nth-child(4n+1) {
        color: $color-1;
      }
      &:nth-child(4n+2) {
        color: $color-2;
      }
      &:nth-child(4n+3) {
        color: $color-3;
      }
      &:nth-child(4n+4) {
        color: $color-4;
      }
    }
}
  .contact{

    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

    border-top:$border-style;

    .contact__title{
        color:white;
    }
    p{
      color:white;
    }
    a {
      &:nth-child(1) {
        color: $color-1;
      }
      &:nth-child(2){
        color: $color-3;
      }
    }

  }
  .ligne-horizontale,
  .ligne-verticale{
    display: none;
  }

}

@media (max-width:680px){
  .content{
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .clients{
    border-left: none;
    grid-column: 1 / span 1;
    grid-row:2 / span 1;
  }
    .awards{
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }

    .contact{
      grid-column: 1 / span 1;
      grid-row: 4 / span 1;
    }

}




/*******************************
******************************
ANIMATIONS
******************************
*******************************/



.fade-in-bloc{
  opacity:0;
  animation-name: fadeIn, fadeBorderIn;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
}
.fade-in-border{
  border-color:rgba(255,255,255, 0);
  animation-name: fadeBorderIn;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.ligne-horizontale{
  // background-color: blue;
  z-index:10000;
  width:100%;
  height:40vh;
  position:absolute;
  bottom:0;
  left:0;
  opacity: 0;
  pointer-events: none;
  border-top:$border-style;

  animation-name: slideInFromBottom;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.ligne-verticale{
  // background-color: blue;
  z-index:10000;
  width:40vw;
  height:100%;
  position:absolute;
  top:0;
  right:0;
  opacity: 0;
  pointer-events: none;
  border-left:$border-style;

  animation-name: slideInFromLeft;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 8s;
  animation-fill-mode: forwards;

}
@keyframes slideInFromLeft{

  0% {
    opacity:0;
    height:30%;
  }
  100% {
    opacity:1;
    height:100%;
  }
}
@keyframes slideInFromBottom{

  0% {
    opacity:0;
    width:30%;
  }
  100% {
    opacity:1;
    width:100%;
  }
}

@keyframes fadeIn{

  0% {
    opacity:0;
    // visibility: hidden;
  }
  100% {
    opacity:1;
    // visibility:visible;
  }
}
@keyframes fadeBorderIn{

  0% {
    border-color:rgba(255,255,255, 0);
    // visibility: hidden;
  }
  100% {
    border-color:rgba(255,255,255, 0.2);
    // visibility:visible;
  }
}

@keyframes slideGrid{

  0% {
    grid-template-columns: 99% 1%;
    grid-template-rows: 25% 25% 50%;
  }
  100% {
    grid-template-columns: 60% 40%;
    grid-template-rows: 25% 25% 50%;
  }
}

@keyframes fadeOverlay {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
    visibility: hidden;
  }
}


@keyframes hoverIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hoverOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(105%);
  }
}
#custom-cursor-deluxe{
  height: 10px;
  width: 10px;
  top:50%;
  left:50%;
  background:rgba(255,255,255,0.8);
  border-radius: 50px;
  position: absolute;
  //border:1px solid white;
  pointer-events: none;

  box-shadow: 0 0 0 1px rgba(255,255,255,0.8);
  transition: box-shadow 0.5s;
  &.actif{
    box-shadow: 0 0 0 30px rgba(255,255,255,0);
    transition: box-shadow 5s;
  }
}

.ico_button::after {
	box-shadow: inset 0 0 0 35px rgba(111,148,182,0);
}

.ico_button--click::after {
	-webkit-animation: anim-effect-radomir 0.5s ease-out forwards;
	animation: anim-effect-radomir 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.4, 0.4, 1);
		transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.4, 0.4, 1);
		transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}
@keyframes anim-sub-color {
	0% {
		color:$color-1;
	}
	33% {
		color:$color-2;
	}
  66% {
		color:$color-3;
	}
  100% {
		color:$color-4;
	}

}
